body{
	background: #f3f3f3;
}
header{
	background: #000000;
	width: 100%;
}
header img{
	width: 30%;
	margin-left: 5%;
}

.nav-button{
	background: #000000;
	color: #ffffff;
	font-size: 140%;

}
nav{
	
	min-height: 25px;
	background: #434446;
}
nav ul li{
	color: #ffffff;
	float: left;
	margin-left: 20px;
	-webkit-transition:all 1s;
	transition:all 1s;

}
nav ul li a{
	color: #ffffff;
	font-style: bold;
	text-decoration: none;
	font-family: arial;
	font-size:116%;
}
nav ul .active{
	background: #2c3635;
	border-radius: 10px;
	border: inset;
	border-color: #2c3635;
}
nav ul li:hover{
	background: #2c3635;
	border-radius: 10px;
	border: inset;
	border-color: #2c3635;
}
button{
	border: none;
}
.carousel{
	width: 100%;
	overflow: hidden;
	position: relative;
}
.arrow .right{
	float: right;
	background: #fb9205;
	border-radius:10px; 
	width: 4%;
	text-align: center;
}
.arrow .right a{
	color: #ffffff;
}
.arrow{
	width: 100%;
	position: absolute;
	top: 50%;
	font-size: 265%;
}
.arrow .left{
	float: left;
	background: #fb9205;
	border-radius:10px; 
	width: 4%;
	text-align: center;
}
.arrow .left a{
	color: #ffffff;
}
.carousel img{
	width: 100%;
}
.carousel-items{
	position: relative;
}

.carousel .explain{
	position: absolute;
	top: 50%;
	right: 10%;
	color: #ffffff;
	font-size:130%;
	font-family: arial;
	font-style: bold;
}
.carousel .explain button{
	border-radius: 5px;
	background:#1eb5ca ;
	color:#ffffff;
	width: 50%;
	height: 50%;
	font-size: 116%;
}
.carousel .hidden{
	display: none;
}
.carousel .shown{
	display: block;
}
.down{
	position: absolute;
	width: 100%;
	text-align: center;
	top:85%;
	font-size: 265%;
	
}
.down a{
	color: #ffffff;
	background: #000000;
	border-radius: 10px; 
}
.marketing-word{
	text-align: center;
	color:#7c8c8b;
}
.marketing-word h1{
	font-family: arial;
	font-style: bold;
	font-size: 140%;
}
.list-container h4{
	color: #5c6868;
	font-style: bold;
	font-family: arial;
}
.item{
	position: relative;
	overflow: hidden;
	float: left;
	background: #bbbbbb;
	border-radius:10px;
	margin-right: 3%;
	width: initial;
}
.item:first-child{
	background: #ffffff;
}
.item .main-img{
	width: 100%;
}
.new{
	position: absolute;
	z-index: 1;
	right: 0%;
}
.description{
	
	border-bottom:1px solid #b3b3b3  ;
}
.description .sub-item{
	float: left;
	width: 25%;
	color: #5c6868;
}
.price{
	border-top:1px solid #b3b3b3 ;
	font-style: bold;
	color: #fd8201;
	font-weight: 5px;
	
}

footer{
	background: #434446;
	width: 100%;
	color: #ffffff;
	clear: both;
	min-height: 1.83cm;
}
footer .copyright{
	float: left;
	clear: both;
}
footer .social{
	float: right;
	clear: both;
}
footer .social i{
	margin-left: 10px;
}

@media(min-width: 764px){
	.nav-button{
		display: none;
	}
	.list-container{
		width:78%;
		margin-left: 10%;
	}
	.item{
		width: 20%;
	}
}
@media(max-width: 764px){
	nav{
		display: none;
	}
	.list-container{
		width:100%;
	}
	.item{
		width: 40%;
		margin-bottom: 20px;
	}

	.item:nth-child(odd){
		clear: both;
	}
	nav ul li{
		float: none;
		margin-bottom: 15px;
	}
}
@media(max-width: 609px){
	.item{
		width: 95%;
	}
	footer{
		text-align: center;
	}
	footer .social, footer .copyright{
		margin: 10px;
		float: none;
	}
}